.container_sign_up
  .sign_up_content
    %h2 Log in
    %h2   PRAISEへようこそ！
      
  
  .sign_up_menu
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'sign_text'
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password", class: 'sign_text'
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Log in", class: 'sign_up_button'
    = render "devise/shared/links"
