- if user_signed_in?
  %header.header_second
    = image_tag 'header.png', class: 'header_cat'
    %p.header_pageTitle_second PRAISE
    %p.header_text みんなで褒めあおう！ 
    今日もありがとう
    君がいてくれてよかった
  -@boards.each do |board|
    = link_to board_path(id: board.id) do
      .card
        .card_detail
          = image_tag board.user.avatar_image
          %div
            %p= board.user.display_name
            %p= I18n.l(board.created_at, format: :default)
        - if board.eyecatch.attached?
          .card_image
            = image_tag board.eyecatch
        .card_title
          = board.name
        .card_content
          .card_heart
            = image_tag 'heart.svg'          
            %span= board.likes_count
      = yield