%header.header_second
  = image_tag 'header.png', class: 'header_cat'
  %p.header_pageTitle_second ようこそ PRAISEへ!
  %p.header_text みんなで褒めあおう！ 
  生きてくれてありがとう
  君がいてくれてよかった
-@boards.each do |board|
  = link_to board_path(id: board.id) do
    .card
      .card_detail
        = image_tag 'default-avatar.png'
        %div
          %p yamachan
          %p= I18n.l(board.created_at, format: :default)
      .card_image
        = image_tag 'sample.png'
      .card_title
        = board.name
      .card_content
        .card_heart
          = image_tag 'heart.svg'          
          %span 23
      = yield